h1{
    text-align: center;
    background-color: blue;
}
.container{
    background-image: url("/Resources/backgroundProject.jpeg");
    width: 300px;
    /*border: 15px solid green;*/
    /*padding: 50px;*/
    /*margin: 20px;*/
}